<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,100},{232,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,94}</string>
			</dict>
			<key>common_btn_0_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,608},{252,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,100}</string>
			</dict>
			<key>common_btn_0_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,608},{252,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,100}</string>
			</dict>
			<key>common_btn_0_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,864},{252,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,100}</string>
			</dict>
			<key>match_time_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,608},{152,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,42}</string>
			</dict>
			<key>match_tt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,942},{292,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,78}</string>
			</dict>
			<key>rank_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,264},{306,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{306,56}</string>
			</dict>
			<key>rule_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,264},{306,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{306,56}</string>
			</dict>
			<key>set_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,2},{602,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{602,40}</string>
			</dict>
			<key>set_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,608},{602,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,40}</string>
			</dict>
			<key>set_bar_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,764},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>set_btn_text_qd.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{296,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,94}</string>
			</dict>
			<key>set_btn_text_tcyx.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,2},{296,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,94}</string>
			</dict>
			<key>set_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,712},{246,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,72}</string>
			</dict>
			<key>shop_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,336},{188,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,73}</string>
			</dict>
			<key>shop_btn_fx.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,942},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>shop_dz_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,114},{306,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{306,56}</string>
			</dict>
			<key>shop_text_dh.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,424},{188,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,73}</string>
			</dict>
			<key>shop_text_dh_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,652},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>shop_text_dh_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,652},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>shop_text_fk_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,652},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>shop_text_fk_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,788},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>shop_text_sw_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,864},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>shop_text_sw_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,100},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>shop_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,528},{306,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,56}</string>
			</dict>
			<key>tab_0_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,100},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>tab_0_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,100},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>tab_1_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,652},{206,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,74}</string>
			</dict>
			<key>tab_1_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,850},{206,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,74}</string>
			</dict>
			<key>tab_2_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,2},{238,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,108}</string>
			</dict>
			<key>tab_2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,2},{238,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,108}</string>
			</dict>
			<key>task_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,968},{420,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,40}</string>
			</dict>
			<key>task_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,806},{420,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,40}</string>
			</dict>
			<key>task_btn_qwc.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,254},{232,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,94}</string>
			</dict>
			<key>task_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,352},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>task_tag_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,480},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>task_tag_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,352},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>task_tag_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,480},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>task_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,254},{296,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{296,60}</string>
			</dict>
			<key>tishi_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,114},{306,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{306,56}</string>
			</dict>
			<key>yqyl_btn_pyq.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,850},{150,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,66}</string>
			</dict>
			<key>yqyl_text_wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,424},{150,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,66}</string>
			</dict>
			<key>yqyl_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,114},{306,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{306,56}</string>
			</dict>
			<key>zj_btn_hf.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,244},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>zj_result_fail.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,342},{72,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,120}</string>
			</dict>
			<key>zj_result_ping.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,418},{72,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>new_img_3.png</string>
			<key>realTextureFileName</key>
			<string>new_img_3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>