<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_match_begin_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,502},{490,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,449}}</string>
                <key>sourceSize</key>
                <string>{490,449}</string>
            </dict>
            <key>ddz_match_begin_shandian_130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{128,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,506}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>ddz_match_begin_shandian_139.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,434},{128,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,512}}</string>
                <key>sourceSize</key>
                <string>{128,512}</string>
            </dict>
            <key>ddz_match_begin_shandian_170.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,434},{160,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,512}}</string>
                <key>sourceSize</key>
                <string>{160,512}</string>
            </dict>
            <key>ddz_match_begin_shandian_184.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,512}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ddz_match_begin_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{288,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,430}}</string>
                <key>sourceSize</key>
                <string>{288,430}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_match_begin_animation.png</string>
            <key>size</key>
            <string>{875,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c16108c629d37069974648132d560667:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_match_begin_animation.png</string>
        </dict>
    </dict>
</plist>
