<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_back_match_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,114},{164,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>ddz_btn_big_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{224,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,90}}</string>
                <key>sourceSize</key>
                <string>{224,90}</string>
            </dict>
            <key>ddz_btn_big_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{224,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,90}}</string>
                <key>sourceSize</key>
                <string>{224,90}</string>
            </dict>
            <key>ddz_btn_middle_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,58},{134,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
            <key>ddz_btn_middle_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{134,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
            <key>ddz_btn_mini_brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,364},{100,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,41}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>ddz_btn_mini_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,321},{100,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,41}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>ddz_button_chaociji.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,203},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ddz_cancel_signup.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,158},{162,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,43}}</string>
                <key>sourceSize</key>
                <string>{162,43}</string>
            </dict>
            <key>ddz_common_button_nowget.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,562},{185,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,71}}</string>
                <key>sourceSize</key>
                <string>{185,71}</string>
            </dict>
            <key>ddz_common_qipao_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{210,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,87}}</string>
                <key>sourceSize</key>
                <string>{210,87}</string>
            </dict>
            <key>ddz_common_qipao_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{342,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,182}}</string>
                <key>sourceSize</key>
                <string>{342,182}</string>
            </dict>
            <key>ddz_common_title_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,258},{114,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,61}</string>
            </dict>
            <key>ddz_common_wins_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5},{360,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,67}}</string>
                <key>sourceSize</key>
                <string>{360,69}</string>
            </dict>
            <key>ddz_common_word_baoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,634},{80,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,43}}</string>
                <key>sourceSize</key>
                <string>{80,43}</string>
            </dict>
            <key>ddz_common_word_goumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,604},{82,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>ddz_common_word_jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{82,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{82,43}</string>
            </dict>
            <key>ddz_common_word_likai.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,634},{81,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,43}}</string>
                <key>sourceSize</key>
                <string>{81,43}</string>
            </dict>
            <key>ddz_common_word_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,545},{83,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,42}}</string>
                <key>sourceSize</key>
                <string>{83,42}</string>
            </dict>
            <key>ddz_common_word_qiehuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,589},{82,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{82,43}</string>
            </dict>
            <key>ddz_common_word_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,405},{82,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{82,43}</string>
            </dict>
            <key>ddz_common_word_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,648},{81,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,42}}</string>
                <key>sourceSize</key>
                <string>{81,42}</string>
            </dict>
            <key>ddz_common_word_shengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,501},{87,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,42}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>ddz_guangsu_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,353},{118,128}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ddz_head_hanhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,407},{92,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ddz_icon_credit.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,353},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz_icon_credit_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ddz_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ddz_icon_diamond_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,732},{38,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ddz_icon_gold_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,531},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>ddz_icon_gold_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,692},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>ddz_icon_jiangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,353},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz_icon_meili.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,692},{52,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{52,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ddz_icon_meili_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ddz_streamer_particle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,746},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>nt_common_button_bcj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{185,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,71}}</string>
                <key>sourceSize</key>
                <string>{185,71}</string>
            </dict>
            <key>nt_common_button_mscj.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,489},{185,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,71}}</string>
                <key>sourceSize</key>
                <string>{185,71}</string>
            </dict>
            <key>nt_common_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,679},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>nt_common_line_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,1}}</string>
                <key>sourceSize</key>
                <string>{364,1}</string>
            </dict>
            <key>nt_common_select_frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,588},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>nt_common_select_frame_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,562},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nt_ddz_common.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29322cd60b0f6065a074cabce8bded66:1/1$</string>
            <key>textureFileName</key>
            <string>nt_ddz_common.png</string>
        </dict>
    </dict>
</plist>
