<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PopupScene15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{196,48}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{196,48}}</string>
                <key>sourceSize</key>
                <string>{226,54}</string>
            </dict>
            <key>PopupScene16.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,76},{112,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{112,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>PopupScene2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{274,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{274,77}}</string>
                <key>sourceSize</key>
                <string>{288,77}</string>
            </dict>
            <key>PopupScene22.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{72,35}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{72,35}}</string>
                <key>sourceSize</key>
                <string>{98,47}</string>
            </dict>
            <key>PopupScene8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,54}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{210,54}}</string>
                <key>sourceSize</key>
                <string>{230,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PopupScene.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e5d04afeb159df27772bdb10ef75bd1$</string>
            <key>textureFileName</key>
            <string>PopupScene.png</string>
        </dict>
    </dict>
</plist>
