<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lz-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,271},{173,155}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,109},{173,155}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lz-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{171,277}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,5},{171,277}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lz-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,269},{167,259}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,14},{167,259}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lz-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{181,267}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,10},{181,267}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lz-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{171,223}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,32},{171,223}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lz-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,279},{193,241}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,23},{193,241}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lz-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,281},{205,255}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,16},{205,255}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lz-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,275},{231,257}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,15},{231,257}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lz-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,2},{265,259}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{265,259}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lz-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{231,271}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{231,271}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lz-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,277}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{205,277}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lz-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{193,275}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,6},{193,275}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>efx_louzi.png</string>
            <key>size</key>
            <string>{1352,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85907a824eaaeb5563fde3e1a05a4955:1/1$</string>
            <key>textureFileName</key>
            <string>efx_louzi.png</string>
        </dict>
    </dict>
</plist>
