<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kan-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,259},{157,157}}</string>
                <key>offset</key>
                <string>{16,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,107},{157,157}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>kan-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{171,277}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,5},{171,277}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>kan-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{167,259}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,14},{167,259}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>kan-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,275},{181,267}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,10},{181,267}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>kan-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{145,223}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,32},{145,223}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>kan-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,259},{149,241}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,23},{149,241}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>kan-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{171,255}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,16},{171,255}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>kan-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,263},{171,257}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,15},{171,257}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>kan-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{165,259}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,14},{165,259}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>kan-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{181,271}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,8},{181,271}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>kan-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,277}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,5},{179,277}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>kan-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,281},{177,275}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,6},{177,275}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>efx_kan.png</string>
            <key>size</key>
            <string>{1022,560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:042ad5a601d8f559324a42f946daea1d:1/1$</string>
            <key>textureFileName</key>
            <string>efx_kan.png</string>
        </dict>
    </dict>
</plist>
