<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sl-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{161,195}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,29},{161,195}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>sl-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1029},{261,167}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,63},{261,167}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>sl-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,655},{203,161}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,69},{203,161}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>sl-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,818},{205,157}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,79},{205,157}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>sl-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,977},{181,213}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,35},{181,213}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>sl-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{199,277}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,3},{199,277}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>sl-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{215,283}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{215,283}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>sl-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,283}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{245,283}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>sl-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,165},{259,187}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,71},{259,187}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>sl-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{261,183}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,67},{261,183}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>sl-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,426},{227,187}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,55},{227,187}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>sl-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{275,175}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,60},{275,175}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>efx_shaolong.png</string>
            <key>size</key>
            <string>{486,1227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f9e80e6f89b91fcb47390902b7783e3:1/1$</string>
            <key>textureFileName</key>
            <string>efx_shaolong.png</string>
        </dict>
    </dict>
</plist>
