<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lll-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{159,235}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,29},{159,235}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lll-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,203},{261,277}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{261,277}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lll-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,735},{203,259}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,14},{203,259}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lll-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,466},{205,267}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{205,267}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lll-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,239},{161,223}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,32},{161,223}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lll-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{171,277}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,3},{171,277}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lll-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{199,283}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{199,283}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lll-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,283}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{241,283}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lll-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,695},{259,267}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{259,267}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lll-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{261,271}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{261,271}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lll-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,466},{223,195}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,54},{223,195}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>lll-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{275,275}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{275,275}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>efx_laolaolong.png</string>
            <key>size</key>
            <string>{733,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9b214370d8e0b4c0e5f97b7b9964fd9:1/1$</string>
            <key>textureFileName</key>
            <string>efx_laolaolong.png</string>
        </dict>
    </dict>
</plist>
