<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{155,207}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,28},{155,207}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,281},{261,179}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,62},{261,179}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,797},{203,173}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,68},{203,173}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{205,173}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,80},{205,173}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,807},{177,213}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,35},{177,213}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{193,277}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,3},{193,277}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{207,283}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{207,283}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,283}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{241,283}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{259,205}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,72},{259,205}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,544},{261,195}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,67},{261,195}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,572},{223,199}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,54},{223,199}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,287},{275,187}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,59},{275,187}}</string>
                <key>sourceSize</key>
                <string>{283,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>efx_laolong.png</string>
            <key>size</key>
            <string>{616,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17fbfdf65d148ff5e4c1134afb7d9bfb:1/1$</string>
            <key>textureFileName</key>
            <string>efx_laolong.png</string>
        </dict>
    </dict>
</plist>
